*{
    margin: 0;
    padding: 0;
}
html , body{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
}
h1{
    text-align: center;
    margin-top: 10px;
    font-size: 2.2em;
    font-family: sans-serif;
    
}
.grid-container{
    width: 70vw;
    margin: 0 auto;
    border: 2px solid gray;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vw 10vw;
}
.left-side{
    background: yellow;
}

.right-side{
    background: green;
}